{% extends "b2b_templates/base.html.twig" %}

{% block title %} Créer une commande  {% endblock %}

{% block body %}
    {% include "b2b_templates/CreationCommande/productFilter.html.twig" %}

    <div class="row">
        <div class="modal fade" id="error-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title dct-icon-exclamation"> Erreur technique survenue</h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="user-message-block d-none dct-alert-success"></div>
        </div>
    </div>

    <div id="product-row" class="d-none">
        <div class="row">

            {# Visuel produit #}

            <div class="col-sm-2 col-md-3 text-center pt-3">
                <a class="product-link" target="_blank">
                    <img src="" class="product-cover rounded img-fluid"/>
                </a>
            </div>

            {# Descriptif produit #}

            <div class="col-sm-4">
                <div class="product-row-content px-3">
                    <div class="product-title">
                        <a class="product-link" target="_blank">
                            <h1></h1>
                        </a>
                        <h2></h2>
                    </div>
                    <div class="product-info">
                        <dl>
                            <dt>Code produit</dt>
                            <dd class="product-code"></dd>
                            <dt>Date de parution</dt>
                            <dd class="product-date"></dd>
                            <dt>Collection</dt>
                            <dd class="product-collection"></dd>
                            <dt>Editeur</dt>
                            <dd class="product-publisher"></dd>
                            <dt>Famille</dt>
                            <dd class="product-family"></dd>
                            <dt>Sous-famille</dt>
                            <dd class="product-second-family"></dd>
                            <dt>Sous-sous-famille</dt>
                            <dd class="product-third-family"></dd>
                            <dt>Prix</dt>
                            <dd class="product-price"></dd>
                            <dt title="Disponibilité dilicom">Dispo. dilicom</dt>
                            <dd class="product-dilicom-availability"></dd>
                            <dt title="Disponibilité fournisseur">Dispo. fournisseur</dt>
                            <dd class="product-supplier-availability"></dd>
                            <dt>Etat Enrichissement</dt>
                            <dd class="product-sheet-status"></dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 no-padding">
                        <span class="dct-icon-pencil product-summary-title"> Résumé :</span>
                        <p class="text-justify product-summary"></p>
                    </div>
                </div>
            </div>

            {# Liste des clients #}

            {% if clients is not empty %}
                <div class="col-sm-5">
                    <form id="updated-qte-b2b-form" data-has-changed="0">
                        <div class="row pt-3">
                            <span class="col-sm-4 d-none d-md-block">Numero client</span>
                            <div class="col-sm-4">
                                <input type="submit" id="update-b2b-qte-button" class="dct-button dct-button-validate btn-block-xs-only"
                                       value="Sauvegarder"/>
                            </div>
                            <span class="col-sm-4 d-none d-md-block">Quantité</span>
                        </div>
                        <div class="client-quantity-table">
                            <table class="clients-b2b-table table-bordered table-hover">
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td id="client-{{ client.id }}">{{ client.id }} - <b>{{ client.name }}</b></td>
                                        <td>
                                            <input
                                                    autocomplete="off"
                                                    type="number"
                                                    min="0"
                                                    data-customerid="{{ client.id }}"
                                                    data-haschanged="0"
                                                    name="updated-quantity-b2b[{{ client.id }}]"
                                                    placeholder="0"
                                            />
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            gestModuleB2b.manageB2bModule.manageB2bModule();
        });
    </script>
{% endblock %}
